@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'CormorantGaramond';
    src: url('./assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-style: normal;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;
